html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body,
.header,
.header .links,
.first-section {
    display: flex;
}

button:hover {
    cursor: pointer;
}

a:hover {
    filter:brightness(90%)
}

a:active {
    filter:brightness(75%)
}

a,
a:after{
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

.information-container a {
    width: fit-content;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0px;
    flex-direction: column;
}

body .first-section {
    color: #E5E7EB;
}

.first-section {
    background-color: #1F2937;
    flex-direction: column;
    height: 460px;
    flex-shrink: 0;
    justify-content: center;
}

.first-section .header {
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    flex: 0 1;
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    max-height: 52px;
}
.header .logo {
    font-size: 24px;
    font-weight: 800;
}

.logo img {
    max-height: 34px;
}

.header .links {
    gap: 32px;
}

.header .links a {
    font-size: 18px;
    color: #F9FAF8;
}

.first-section .image-text {
    margin: auto;
    display: flex;
    width: 1020px;
    gap: 60px;
}

.first-section .image-text .image {
    flex-basis: 510px;
    background-color: #6b737c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-section .image-text .title {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0px;
    flex: 0;
    font-weight: 900;
}

.first-section .image-text .information-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: fit-content;
    flex-shrink: 1;
    min-width: 0;
}

.first-section .image-text .text {
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
    margin-top: 8px;
    margin-bottom: 18px;
}

.first-section .image-text button {
    flex: 0;
    width: fit-content;
    padding: 8px 40px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 8px
    
}

.second-section {
    display: flex;
    flex-shrink: 0;
    height: 460px;
    flex-direction: column;
    align-items: center;
}



.second-section .title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 60px;
}

.second-section .information-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.second-section .image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 168px;
    gap: 8px;
}

.second-section .image-text .image {
    border: solid #3882F6 4px;
    width: 0px;
    padding: 80px;
    border-radius: 16px;
}

.second-section .image-text .text {
    text-align: center;
    font-size: 18px;
    color: #626c79;
}



.third-section {
    display: flex;
    flex-shrink: 0;
    background-color: #E5E7EB;
    height: 460px;
    flex-direction: column;
    align-items: center;
}

.third-section .quote-author{
    display: flex;
    flex-direction: column;
    width: 780px;
    margin: auto;
}

.third-section .quote-author .text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.third-section .author {
    margin-right: 28px;
    text-align: end;
    font-weight: bold;
    font-size: 24px;
}



.fourth-section {
    display: flex;
    flex-shrink: 0;
    height: 460px;
    flex-direction: column;
    align-items: center;
}

.fourth-section .call-to-action {
    display: flex;
    /*width: 1080px;*/
    margin: auto;
    background-color: #3882F6;
    gap: 180px;
    padding: 40px 120px;
    border-radius: 12px;
}

.fourth-section .call-to-action .title {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.fourth-section .call-to-action .text {
    font-size: 18px;
    color: #E5E7EB;
}

.fourth-section .call-to-action button {
    background-color:#3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    border-radius: 12px;
    height: 52px;
    width: 200px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    font-size: 18px;
    width: 100%;
    padding: 20px;
}

/* SIGN-UP PAGE */

.sign-up-page .first-section {
    height: 100vh;;
}

.first-section .main-container {
    display:flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    align-items: center;;
}

.sign-up-page .title {
    font-size: 32px;
    color: #F9FAF8;
    margin: 0px;
    flex: 0;
    font-weight: 900;
    text-align: center;
}

.sign-up-page button {
    flex: 0;
    width: fit-content;
    padding: 8px 40px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 8px;
    margin-top: 20px;
}